.main-tortillas{
    background-color: $background-principal;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3.125rem;
        gap: 3.125rem;
        .div-1{
            border-radius: .375rem;
            background-color: white;
            width: 60%;
            height: 10.9375rem;
            display: flex;
            flex-direction: row;
            img{
                width: 40%;
                height: 8.75rem;
                align-self: center;
                margin-left: 1.1875rem;
                border-radius: .3125rem;
            }
            div{
                width: 100%;
                text-align: center;
                h1{
                    font-family: 'Hind Madurai', sans-serif;
                    font-weight: 500;
                    font-size: 2.5rem;
                    padding-top: .3125rem;
                }
                p{
                    padding-top: 1.125rem;
                    font-size: 1.5625rem;
                    font-weight: bold;
                }
                h3{
                    padding-top: 1.875rem;
                }
            }
        }
        .div-2{
            border-radius: .375rem;
            background-color: white;
            width: 60%;
            height: 10.9375rem;
            display: flex;
            flex-direction: row;
            img{
                width: 40%;
                height: 8.75rem;
                align-self: center;
                margin-left: 1.1875rem;
                border-radius: .3125rem;
            }
            div{
                width: 100%;
                text-align: center;
                h2{
                    font-family: 'Hind Madurai', sans-serif;
                    font-weight: 500;
                    font-size: 1.875rem;
                    padding-top: .3125rem;
                }
                p{
                    padding-top: 1.875rem;
                    font-size: 1.5625rem;
                    font-weight: bold;
                }
                h3{
                    padding-top: 1.5625rem;
                }
            }
        }
        .div-3{
            border-radius: .375rem;
            background-color: white;
            width: 60%;
            height: 10.9375rem;
            display: flex;
            flex-direction: row;
            margin-bottom: 3.125rem;
            img{
                width: 28%;
                height: 8.75rem;
                align-self: center;
                margin-left: 1.1875rem;
                border-radius: .3125rem;
            }
            div{
                width: 100%;
                text-align: center;
                h2{
                    font-family: 'Hind Madurai', sans-serif;
                    font-weight: 500;
                    font-size: 2.1875rem;
                    padding-top: .3125rem;
                }
                p{
                    padding-top: 1.0625rem;
                    font-size: 1.5625rem;
                    font-weight: bold;
                }
                h3{
                    padding-top: 1.5625rem;
                }
            }
        }
    }
}