@media (max-width:480px) {
    .main-index {
        .div-h1 {
            h1 {
                padding-top: .5rem;
            }
        }
    }
    .main-sand{
        section{
            .div-1{
                width: 90%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: .625rem;
                    }
                }
            }
            .div-2{
                width: 90%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: .625rem;
                    }
                }
            }
            .div-3{
                width: 90%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: 1rem;
                    }
                }
            }
            .div-4{
                width: 90%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: .625rem;
                    }
                }
            }
        }
    }
    .main-papas{
        section{
            .div-1{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .4375rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 2.5rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-2{
                width: 90%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.4375rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: .1875rem;
                        font-size: 22px;
                    }
                }
            }
            .div-3{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 2.0625rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.5625rem;
                    }
                }
            }
        }
    }
    .main-tortillas{
        section{
            .div-1{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 7.8125rem;
                    margin-left: .625rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.125rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.875rem;
                    }
                }
            }
            .div-2{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 7.8125rem;
                    margin-left: .625rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: 0px;
                    }
                    p{
                        padding-top: .3125rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .625rem;
                    }
                }
            }
            .div-3{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 7.8125rem;
                    margin-left: .625rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .875rem;
                        font-size: 1.4375rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
    .main-lomito{
        section{
            .div-1{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                    margin-left: .4375rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-2{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .625rem;
                    }
                }
            }
            .div-3{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.6875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-4{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .625rem;
                    }
                }
            }
        }
    }
}