@media (max-width:379px) {
    .main-index {
        section {
            grid-template-columns: repeat(1,300px);
            .card-1 {
                height: 90%;
                img {
                    margin-left: 1.625rem;
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-2 {
                height: 90%;
                img {
                    margin-left: 1.625rem;
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-3 {
                height: 90%;
                img {
                    margin-left: 1.625rem;
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-4 {
                height: 90%;
                img {
                    margin-left: 1.625rem;
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
        }
    }
    .main-sand{
        section{
            gap: 1.5625rem;
            .div-1{
                width: 90%;
                height: 12.5rem;
                img{
                    margin-left: .25rem;
                    width: 30%;
                    height: 7.5rem;
                }
                div{
                    h1{
                        font-weight: 700;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.875rem;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: 1.5rem;
                    }
                }
            }
            .div-2{
                width: 90%;
                height: 13.4375rem;
                img{
                    margin-left: .25rem;
                    width: 30%;
                    height: 7.5rem;
                }
                div{
                    h2{
                        font-weight: 600;
                        font-size: 1.4375rem;
                    }
                    p{
                        padding-top: .3125rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: .625rem;
                    }
                }
            }
            .div-3{
                width: 90%;
                height: 12.5rem;
                img{
                    margin-left: .25rem;
                    width: 30%;
                    height: 7.5rem;
                }
                div{
                    h2{
                        font-weight: 700;
                        font-size: 1.4375rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.875rem;
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: 1.5rem;
                    }
                }
            }
            .div-4{
                width: 90%;
                height: 13.4375rem;
                img{
                    margin-left: .25rem;
                    width: 30%;
                    height: 7.5rem;
                }
                div{
                    h2{
                        font-weight: 600;
                        font-size: 1.4375rem;
                    }
                    p{
                        padding-top: .3125rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.4375rem;
                        padding-top: .625rem;
                    }
                }
            }
        }
    }
    .main-papas{
        section{
            .div-1{
                width: 94%;
                height: 11.875rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .1875rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 2.5rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-2{
                width: 94%;
                height: 13.75rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .1875rem;
                }
                div{
                    h2{
                        font-weight: 600;
                        font-size: 1.5625rem;
                    }
                    p{
                        padding-top: 1.25rem;
                        font-size: 1.4375rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: 1rem;
                        font-size: 1.375rem;
                    }
                }
            }
            .div-3{
                width: 94%;
                height: 12.5rem;
                img{
                    width: 26%;
                    height: 7.5rem;
                    margin-left: .1875rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.625rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 2.0625rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.5625rem;
                    }
                }
            }
        }
    }
    .main-tortillas{
        section{
            .div-1{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 7.8125rem;
                    margin-left: .625rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.125rem;
                        font-size: 1.4375rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: 1.875rem;
                    }
                }
            }
            .div-2{
                width: 90%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 7.8125rem;
                    margin-left: .625rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: 0px;
                    }
                    p{
                        padding-top: .3125rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .1875rem;
                    }
                }
            }
        }
    }
    .main-lomito{
        section{
            .div-1{
                img{
                    height: 7.5rem;
                }
            }
            .div-2{
                width: 92%;
                height: 13.4375rem;
                img{
                    width: 27%;
                    height: 7.5rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: 0px;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .625rem;
                    }
                }
            }
            .div-3{
                img{
                    height: 7.5rem;
                }
            }
            .div-4{
                width: 92%;
                height: 13.4375rem;
                img{
                    width: 27%;
                    height: 7.5rem;
                    margin-left: .4375rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.5625rem;
                        padding-top: 0px;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    h3{
                        padding-top: .625rem;
                    }
                }
            }
        }
    }
}