@media (max-width:768px) {
    .main-index {
        .div-h1 {
            h1 {
                width: 83%;
            }
        }
        section {
            grid-template-columns: repeat(2, 18.75rem);
            .card-1 {
                height: 90%;
                img {
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-2 {
                height: 90%;
                img {
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-3 {
                height: 90%;
                img {
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
            .card-4 {
                height: 90%;
                img {
                    width: 15.625rem;
                    height: 12.5rem;
                }
                h2 {
                    padding-top: 1rem;
                }
                div {
                    margin-left: 6.25rem;
                }
            }
        }
    }
    .main-sand{
        section{
            .div-1{
                width: 77%;
                height: 11.25rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: .625rem;
                    }
                }
            }
            .div-2{
                width: 77%;
                height: 11.25rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: 1rem;
                    }
                }
            }
            .div-3{
                width: 77%;
                height: 11.25rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: 1rem;
                    }
                }
            }
            .div-4{
                width: 77%;
                height: 11.25rem;
                img{
                    width: 26%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.75rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .625rem;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                    h3{
                        font-size: 1.5625rem;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
    .main-papas{
        section{
            .div-1{
                width: 80%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 2.5rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-2{
                width: 80%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: .1875rem;
                    }
                }
            }
            .div-3{
                width: 80%;
                height: 11.875rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 2.0625rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.5625rem;
                    }
                }
            }
        }
    }
    .main-tortillas{
        section{
            .div-1{
                width: 85%;
                height: 10.9375rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 2.5rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.125rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.875rem;
                    }
                }
            }
            .div-2{
                width: 85%;
                height: 10.9375rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: 1.875rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1.5625rem;
                    }
                }
            }
            .div-3{
                width: 85%;
                height: 10.9375rem;
                img{
                    width: 28%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 2.1875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .875rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
    .main-lomito{
        section{
            .div-1{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 38%;
                    height: 8.75rem;
                }
                div{
                    h1{
                        font-weight: 500;
                        font-size: 2.25rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-2{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-3{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 1.875rem;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
            .div-4{
                width: 92%;
                height: 12.5rem;
                img{
                    width: 27%;
                    height: 8.75rem;
                }
                div{
                    h2{
                        font-weight: 500;
                        font-size: 25px;
                        padding-top: .3125rem;
                    }
                    p{
                        padding-top: .4375rem;
                        font-size: 1.5625rem;
                        font-weight: bold;
                    }
                    h3{
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}